.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-left: 240px;
  margin-top: 65px;
  padding: 24px;
  flex: 1;
  background-color: #f3f4f6;
  min-height: calc(100vh - 65px);
}

[data-theme='dark'] .main-content {
  background-color: #111827;
}
